@page
@model mgonzales_3312Final_2_1.Pages.Restaurants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    // Alternate sort order
                    var firstSort = "name_asc";
                    if (Model.CurrentSort == "name_asc")
                    {
                        firstSort = "name_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.Restaurant[0].RestaurantName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Tossed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tossed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RestaurantID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RestaurantID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RestaurantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    var prevDisabled="";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}

@{
    var nextDisabled="";
    if (Model.PageNum >= 3)
    {
        nextDisabled = "disabled";
    }
}


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
    <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
  </ul>
</nav>
